page-home{
  .nudge-right {
    left: -5px;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .on-top {
    z-index: 10;
  }
  
  .text-size-hero {
    font-size: 3.5rem;
  }
  
  .font-mono {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .text-shadow {
    text-shadow: 2px 2px 2px color($colors, text-01);
  }
  
  .position-hero {
    height: 100%;
    margin-top: 100%;
  }
  
  @keyframes circle {
    from {
      transform: scale(1);
      opacity: 0.5;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  .circle {
    margin: 0 auto;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .circle-1 {
    animation: circle 3s infinite linear;
  }
  
  .circle-2 {
    animation: circle 2s infinite linear;
  }
  
  .circle-3 {
    animation: circle 1s infinite linear;
  }
  
  @media(min-width: 769px) {
    .position-hero {
      margin-top: 25%;
    }
  
    .text-size-hero {
      font-size: 5rem;
    }
  }
  
}
