// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
//$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
//$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$toolbar-height: 40px;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    rgba(0, 0, 0, 0),
  brand-01:   #3d70b2,
  brand-02:   #5596e6,
  brand-03:   #41d6c3,
  ui-01:      #ffffff,
  ui-02:      #f5f7fa,
  ui-03:      #f0f3f6,
  ui-04:      #dfe3e6,
  ui-05:      #8c9ba5,
  text-01:    #152934,
  text-02:    #5a6872,
  text-03:    #5a6872,
  inverse-01: #ffffff,
  field-01:   rgba(60, 112, 178, .1),
  support-01: #e0182d,
  support-02: #5aa700,
  support-03: #efc100,
  support-04: #5aaafa,
  bg-color:   rgba(8, 9, 17, 0.4)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-height: $toolbar-height;
$navbar-ios-height: $toolbar-ios-height;
$toolbar-background-ios: color($colors, primary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-height: $toolbar-height;
$navbar-md-height: $toolbar-md-height;
$toolbar-background-md: color($colors, primary);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-height: $toolbar-height;
$navbar-wp-height: $toolbar-wp-height;
$toolbar-background-wp: color($colors, primary);



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

//@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";

@import 'node_modules/carbon-components/scss/globals/scss/styles';
$css--plex: true;
